.containerLog {
  background-color: #c4c4c4;
  border-radius: 8px;
  height: 35vw;
  width: 220px;
  overflow: scroll;
  scroll-behavior: initial;
  margin: 0 8px;
}
.titleLog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}
.containerPost {
  background-color: bisque;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
}
.menssageLog {
  font-size: 9pt;
}
.timeLog {
  font-weight: bold;
  font-size: 9pt;
}
