div.container {
  display: flex;
  width: 35px;
  margin: 4px;
}

div.circle {
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 17.5px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1.circle {
  font-size: 16px;
  font-weight: 600;
}

.circle .info {
  position: absolute;
  display: none;
  width: 170px;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 8px;
  margin-top: 250px;
}

.circle:hover .info {
  display: initial;
}
.circle .info:before {
  content: "";
  position: absolute;

  top: -10px;
  left: 75px;
  margin-right: 10px;
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}

h2 {
  font-size: 14px;
  color: #000;
}
