.page-header {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #dadee2;
  padding: 8px 0;
}

.page-header strong {
  font-size: 32px;
  color: #504747;
  font-weight: 700;
}
