.container {
  margin: 0 8px;
  display: flex;
}

.bloco {
  display: flex;
  width: 220px;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.text {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-left: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #c4c4c4;
  border-radius: 8px;
  padding: 16px 16px;
  overflow: scroll;
  min-height: 100px;
}
