.bloco {
  display: flex;
  max-width: 250px;
  max-height: 290px;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.text {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-left: 16px;
}

.content {
  background-color: #c4c4c4;
  border-radius: 8px;
  padding: 32px 24px;
  display: inline-flex;
  overflow: scroll;
  height: 100px;
}
